body {
  margin: 0;
  padding: 0;
  background-color: rgb(20, 51, 51);
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  z-index: -1;
  position: fixed;
  right: 0;
  /* margin: auto; */
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

@media only screen and (max-width: 600px) {
  #myVideo {
    left: -600px;
  }
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  /* background: rgba(0, 0, 0, 0.5); */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  margin: 0;
}

/* Style the Button used to pause/play the video */
#myBtn:hover {
  /* background: #ddd; */
  color: black;
}

/* 
#codding {
  width: 80%;
  height: 80%;
  background-color: rgba(221, 221, 221, 0.179);
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
} */

a {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-style: italic;
  text-decoration: none;
}

.item1 {
  grid-area: left-top;
}

.item2 {
  grid-area: right-top;
}

.item3 {
  grid-area: left-buttom;
}

.item3 {
  grid-area: right-buttom;
}

.grid-container {
  right: 0px;
  /* margin: auto; */
  position: fixed;
  bottom: 0;
  min-width: 100%;
  min-height: 100vh;
  z-index: 11;
  display: inline-grid;
  grid-template-areas:
    'left-top right-top'
    'left-buttom right-buttom';
  gap: 10px;
  /* background-color: #2195f341; */
  padding: 10px;
}



.grid-container>a {
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px 0;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 250px;
  height: 48vh;
}

.grid-container>a:hover {
  background-color: rgba(0, 0, 0, 0.457);
  min-width: 80%;
  min-height: 80%;
  border-radius: 250px;
}

@media only screen and (max-width: 600px) {
  .grid-container {
    /* right: 0px; */
    /* margin: auto; */
    position: sticky;
    /* bottom: 0; */
    /* min-width: 100%; */
    /* min-height: 100vh; */
    z-index: 11;
    display: list-item;
    grid-template-areas:
      'left-top',
      'right-top',
      'left-buttom',
      'right-buttom';
    gap: 10px;
    /* background-color: #2195f341; */
    /* padding-top: -50px; */
    font-size: 35px;
  }

  .grid-container>a {
    /* background-color: rgba(255, 255, 255, 0.5); */
    /* background-color: rgba(6, 129, 27, 0.723); */
    /* padding: 20px 0; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 50px;
    /* margin-top: 10px; */
    margin-bottom: 10px;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    padding-left: 10px;
    height: 21vh;
    text-align: center;
  }

  .grid-container>a>p {
    width: 100%;
    font-size: 35px;
    font-weight: bold;
    color: rgba(1, 37, 6, 0.607);
  }

  .glow {
  }

  img {
    zoom: 0.5;
  }
}

img {
  /* zoom: 2; */
}

.glow {
  font-size: 80px;
  color: rgba(255, 255, 255, 0.408);
  text-align: center;
  animation: glow 0.3s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px rgba(158, 4, 163, 0.508), 0 0 70px #02681da1;
  }

  to {
    text-shadow: 0 0 20px rgba(4, 119, 50, 0.59), 0 0 30px #290beb;
  }
}